KC_BOOTSTRAP_ADMIN_USERNAME = admin
KC_BOOTSTRAP_ADMIN_PASSWORD = admin

KC_HOSTNAME = http://localhost:8080 
KC_HOSTNAME_BACKCHANNEL_DYNAMIC = "true"
KC_URL = http://keycloak:8080
KC_REALM = "test"
KC_CLIENT_ID = "fastapi"

FASTAPI_HOSTNAME = http://localhost:8000

# Персональные настройки SMTP
SMTP_FROM = 
SMTP_HOST = 
SMTP_PORT = 
SMTP_USER = 
SMTP_PASSWORD = 

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_root_password

KC_DB =  postgres
KC_DB_URL = jdbc:postgresql://db:5432/keycloak_db
KC_DB_NAME = keycloak_db
KC_DB_USER = keycloak
KC_DB_PASSWORD = keycloak_secure_password

FASTAPI_DB_NAME = fastapi_db
FASTAPI_DB_USER = fastapi
FASTAPI_DB_PASSWORD = fastapi_secure_password